# Contact email address
VITE_CONTACT_EMAIL=businesstobixp@gmail.com

# Firebase Web Configuration
VITE_FIREBASE_API_KEY=AIzaSyBk6tN_M1U3YJyZQ_mrm0cdFKt8YkrUPIg
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0063920317.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0063920317
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0063920317.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=489995589758
VITE_FIREBASE_APP_ID=1:489995589758:web:adecf4fb97353343ffe02f
VITE_FIREBASE_DATABASE_ID=ai-studio-remixportfolio-3b4d2a5a-557b-47d1-b708-de083f7b48ec

